@charset "UTF-8";
uiload {
  display: inline-block;
  position: relative; }
  uiload > div {
    position: relative; }

.full {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background: #000 center center no-repeat; }

.full-bk {
  width: 100%;
  height: 100%;
  background: #000 center top no-repeat;
  background-size: cover;
  z-index: 8;
  position: fixed; }

.full-fk {
  position: relative;
  width: 25%;
  background: rgba(0, 0, 0, 0.7);
  min-height: 100%;
  padding: 30% 0;
  z-index: 9; }
  .full-fk .para {
    width: 100%;
    padding: 40px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.8em;
    font-size: 1.2em; }
    .full-fk .para .hr-bk {
      margin: 30px 0;
      width: 100%; }
  .full-fk ul {
    padding-left: 10px;
    margin: 30px 0; }

.full-fk-left {
  margin-left: 5%; }

.full-fk-right {
  margin-left: 70%; }

@media (max-width: 1024px) {
  .full-fk {
    width: 35%; }
    .full-fk .para {
      padding: 40px 15px; }

  .full-fk-right {
    margin-left: 60%; } }
.imgfrm {
  display: inline-block;
  width: 100%; }
  .imgfrm > img, .imgfrm > .ib > img {
    width: 100%; }

.img-redframe, .img-redframe-r {
  border-top: 10px solid #F14d49;
  border-left: 1px solid #F14d49;
  padding: 10px 0 0 10px; }
  .img-redframe .comment-right, .img-redframe-r .comment-right {
    position: absolute;
    left: 100%;
    bottom: 0; }

.img-redframe-r {
  border-right: 1px solid #F14d49;
  border-left: none;
  padding: 10px 10px 0 0;
  text-align: right; }

.img-blackframe {
  border: 5px solid #000000;
  padding: 7px; }
  .img-blackframe .ib {
    border: 1px solid #808285;
    padding: 7px;
    width: 100%; }
  .img-blackframe .comment-right {
    position: absolute;
    left: 100%;
    bottom: 0; }

.comment .hr-bk {
  width: 100%;
  margin: 10px 0; }

.navbar-inverse {
  border-bottom: 2px solid #808285;
  background: #000; }

#fb-icon a {
  padding: 12px 20px 8px 10px; }
#fb-icon .ib {
  border-left: 1px solid #999;
  padding-left: 20px; }

#fb-icon-inner {
  width: 24px;
  height: 24px;
  background: center center no-repeat;
  background-image: url(../../img/nav/fb.png); }
  #fb-icon-inner:hover {
    background-image: url(../../img/nav/fb-invert.png); }

.navbar-inverse .navbar-brand {
  padding: 11px 0 0;
  color: #fff;
  font-family: century gothic; }
  .navbar-inverse .navbar-brand .ib {
    border-right: 1px solid #999; }
  .navbar-inverse .navbar-brand img {
    margin: 0 20px;
    width: 108px;
    height: 32px; }

.navbar.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-size: 1.1em; }
  .navbar.navbar-inverse .navbar-nav > li > a .navico {
    opacity: 0;
    position: absolute;
    width: 0;
    margin-left: 0;
    width: 80px;
    margin-left: -23px;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .navbar.navbar-inverse .navbar-nav > li > a .navico .desc {
      border: 1px solid #808285;
      border-radius: 3px;
      background: #fcfdcc;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      color: #000;
      padding: 2px;
      font-size: 12px;
      text-align: center; }
    .navbar.navbar-inverse .navbar-nav > li > a .navico img {
      width: 100%; }
  .navbar.navbar-inverse .navbar-nav > li > a.active {
    color: #F14d49;
    font-size: 2.5em; }
  .navbar.navbar-inverse .navbar-nav > li > a.active .navico {
    opacity: 1;
    width: 80px;
    margin-left: -23px; }

.navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0; }

ul.chapter-list {
  margin-right: 0; }
  ul.chapter-list a {
    width: 60px;
    text-align: center; }

.anchor {
  position: relative;
  top: -90px; }

.todo {
  display: block;
  color: white;
  background: red;
  font-family: arial;
  padding: 3px;
  display: block; }
  .todo:before {
    content: "(TODO)"; }

.small-text {
  font-size: 0.5em;
  line-height: 1.3em; }

.l4b, .l4w {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 30px;
  /*background: url(../../img/l4b.png) center center no-repeat;*/
  background-size: cover; }

.l4w {
  /*background: url(../../img/l4w.png) center center no-repeat;*/
  }

.chapter-author {
  color: #808285;
  text-align: center;
  margin: 120px 0; }
  .chapter-author .ib {
    display: inline-block;
    border: 2px solid #000000; }
    .chapter-author .ib .ib2 {
      border: 1px solid #808285;
      margin: 3px;
      padding: 3px; }

.hl-black, .hl-red {
  background: url(../../img/main/hl-black.png) center center repeat-x;
  width: 40%;
  margin: auto;
  text-align: center;
  color: #000000; }
  .hl-black .ib, .hl-red .ib {
    display: inline-block;
    padding: 20px;
    font-size: 2.6em;
    background: #fff; }

.hl-red {
  color: #F14d49;
  background: url(../../img/main/hl-red.png) center center repeat-x; }

.comment {
  color: #808285;
  font-size: 0.7em;
  line-height: 1.5em; }

.full-video {
  width: 100%;
  height: 100%; }
  .full-video video {
    width: 100%;
    height: 100%;
    background: black; }
  .full-video .comment {
    text-align: center; }

.hr-bk {
  width: 30%;
  margin: 120px 35%;
  height: 1px;
  background: #808285; }

.intro {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .intro .para {
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 2em; }

@media (max-width: 1280px) {
  .intro {
    width: 90%; } }
@media (max-width: 1120px) {
  .intro {
    width: 100%; } }
@media (max-width: 1000px) {
  .intro {
    width: 80%; }
    .intro br {
      display: none; } }
.lz-hide {
  opacity: 0;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.lz-show {
  opacity: 1;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

body {
  letter-spacing: 1px; }

#content {
  margin-top: 0; }

#land-cover {
/*  width: 100%;
  height: 100%;*/
/*  min-height: 600px;*/
  /*background: #808285 url(../../img/land/cover.jpg) center center no-repeat;*/
  /*background-size: cover;
  text-align: center;
  position: relative;
  margin-bottom: 100px;*/ }

#land-headline {
  display: inline-block;
  margin-top: 20%; }
  #land-headline:before, #land-headline:after {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.95);
    margin-bottom: 3px; }
  #land-headline:after {
    margin-top: 3px; }
  #land-headline .ib {
    color: #F14d49;
    background: rgba(255, 255, 255, 0.95);
    padding: 0 25px 10px;
    letter-spacing: 4px; }
    #land-headline .ib .title {
      font-size: 3em;
      margin-bottom: 7px; }
    #land-headline .ib .subtitle {
      letter-spacing: 3px;
      font-size: 1.4em; }
      #land-headline .ib .subtitle img {
        width: 20px;
        vertical-align: text-bottom; }

#land-cover .desc {
  display: inline-block;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  font-size: 1.1em;
  letter-spacing: 2px;
  line-height: 1.8em;
  padding: 10px;
  margin: 30px;
  position: relative; }
  #land-cover .desc .ib {
    position: relative;
    z-index: 5; }
  #land-cover .desc:before {
    border-radius: 20px;
    z-index: 1;
    display: block;
    content: " ";
    width: 96%;
    height: 90%;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 5%;
    left: 2%;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.4); }

@media (max-width: 1000px) {
  #land-cover .desc .ib br.fmt {
    display: none; } }
#land-gbk-top, #land-gbk-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 120px;
  padding-top: 44px;
  background: url(../../img/land/gbk-top.png) center bottom repeat-x; }

#land-gbk-bottom {
  top: auto;
  bottom: 0;
  background: url(../../img/land/gbk-bottom.png) center bottom repeat-x; }

#trademark img {
  width: 200px; }

#copyright {
  border-top: 1px solid #fff;
  color: #fff;
  font-size: 0.7em;
  min-width: 200px;
  display: inline-block;
  padding: 10px;
  margin: 5px 0 8px; }

#land-main-hl {
  width: 100%;
  text-align: center;
  margin: 40px auto;
  position: relative; }
  #land-main-hl:before, #land-main-hl:after {
    display: block;
    content: " ";
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 20px;
    z-index: 1; }
  #land-main-hl:after {
    background: #aaa;
    height: 1px;
    bottom: 16px; }
  #land-main-hl .ib {
    background: #fff;
    position: relative;
    z-index: 2;
    display: inline-block;
    border: 2px solid #000;
    padding: 3px; }
    #land-main-hl .ib .ib2 {
      font-weight: 900;
      border: 1px solid #ccc;
      padding: 0 40px 3px;
      font-size: 2.5em; }

#credit {
  width: 80%;
  color: #F14d49;
  margin: 40px auto;
  border-top: 1px solid #F14d49;
  border-bottom: 2px solid #000;
  padding: 20px 5px; }
  #credit .col-sm-3 {
    border-left: 1px solid #F14d49; }
  #credit .col-sm-3:nth-of-type(1) {
    border: none; }
  #credit .title {
    font-weight: 900;
    font-size: 1.35em;
    margin-bottom: 10px; }
  #credit .desc {
    font-size: 1em; }

@media (max-width: 750px) {
  #credit .col-sm-3 {
    text-align: center;
    padding-top: 20px;
    border-left: none; }
  #credit .title {
    margin-bottom: 3px; } }
uiload {
  display: inline-block;
  position: relative; }
  uiload > div {
    position: relative; }

#avatars {
  width: 80%;
  position: relative;
  top: 100px;
  z-index: 8;
  margin: 60px auto 0; }

#avatars .item {
  width: 14%;
  margin: 3%;
  float: left; }

.avatar {
  width: 100%;
  background: none;
  border: 1px solid #999;
  border-radius: 50%;
  padding: 5%;
  cursor: pointer;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .avatar .ib {
    width: 100%;
    height: 100%;
    background-color: #999;
    border-radius: 50%;
    background-size: cover;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .avatar .ib img {
      width: 100%;
      opacity: 0; }
  .avatar .p1 {
    background-image: url(003-auction.png); }
  .avatar .p2 {
    background-image: url(002-judge.png); }
  .avatar .p3 {
    background-image: url(001-lawyer.png); }

.item.active .avatar {
  border: 1px solid #F14d49; }
  .item.active .avatar .ib {
    background-color: #F14d49; }

#small-avatars {
  position: fixed;
  z-index: 301;
  bottom: 100px;
  right: 10%;
  margin-right: 10px; }
  #small-avatars .desc {
    display: block;
    text-align: right;
    margin-top: 10px;
    padding-top: 5px;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    border-top: 1px solid #ccc;
    right: 0;
    opacity: 0;
    -ms-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  #small-avatars .avatar {
    -ms-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    display: inline-block;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    background: #fff; }
    #small-avatars .avatar .ib {
      background-color: gray; }

#small-avatars.active .desc {
  opacity: 1;
  width: 200px; }

#small-avatars.active .avatar, #small-avatars .avatar.active {
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); }

#small-avatars.hide {
  display: none; }

#avatars .avatar:hover {
  opacity: 1 !important;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); }

.brief {
  width: 50%;
  padding: 10px 20px 20px;
  color: #F14d49; }
  .brief .name {
    font-size: 2em; }
  .brief .desc {
    font-size: 1.3em; }

.brief.right {
  border-right: 1px solid #F14d49;
  text-align: right;
  position: relative; }

.brief.left {
  border-left: 1px solid #F14d49;
  text-align: left;
  position: relative; }

.caption {
  font-size: 3em;
  color: #F14d49;
  width: 100%;
  text-align: center;
  font-weight: 800;
  text-shadow: 0 1px 3px rgba(208, 68, 65, 0.5); }
  .caption:before, .caption:after {
    display: inline-block;
    content: " ";
    width: 80px;
    height: 40px;
    vertical-align: middle;
    background: no-repeat center center; }
  .caption:before {
    background-image: url(../../img/young/spk-red-left.png); }
  .caption:after {
    background-image: url(../../img/young/spk-red-right.png); }

@media (max-width: 1200px) {
  .caption {
    font-size: 2.4em; } }
@media (max-width: 1024px) {
  .caption {
    font-size: 2em; } }
@media (max-width: 880px) {
  .caption {
    font-size: 1.6em; }
    .caption:before, .caption:after {
      width: 40px; } }
.yng-author {
  width: 80%;
  padding: 5px;
  border-bottom: 1px solid #F14d49;
  height: 220px;
  position: relative;
  left: 10%; }
  .yng-author .ib {
    position: absolute;
    bottom: 10px;
    font-size: 1.2em;
    color: #444; }
  .yng-author .ib.right {
    right: 10px;
    text-align: right; }
  .yng-author .yng-author-mic {
    position: absolute;
    width: 10%;
    height: 220px;
    bottom: -20px;
    left: 40%;
    background: url(../../img/young/mic-red.png) center bottom no-repeat; }

#yng-author-p1 .yng-author-mic {
  left: 5%; }

#yng-author-p2 .yng-author-mic {
  left: 27%;
  margin-left: -20px; }

#yng-author-p3 .yng-author-mic {
  left: 49%;
  margin-left: -43px; }

#yng-author-p4 .yng-author-mic {
  left: 72%;
  margin-left: -67px; }

#yng-author-p5 .yng-author-mic {
  left: 93%;
  margin-left: -90px; }

.detail {
  position: relative;
  z-index: 10;
  border-top: 1px solid #F14d49;
  border-bottom: 1px solid #F14d49;
  width: 80%;
  left: 10%; }
  .detail > .ib {
    margin: 10px 0;
    width: 100%;
    background: #F14d49;
    padding: 40px 160px 40px 60px;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 2.2em; }
    .detail > .ib p {
      margin-bottom: 60px; }

#yng-c-sep, #yng-c-sep2 {
  width: 100%;
  height: 2px;
  position: relative; }

#yng-c-sep {
  top: 400px; }

.hl-yng {
  position: absolute;
  width: 100%;
  opacity: 0;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.hl-yng.show {
  opacity: 1; }

.yng-p {
  height: 250px;
  background: none; }

.yng-r {
  margin-bottom: 110px;
  display: none; }

.yng-r.show {
  display: block; }

.full {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background: #000 center center no-repeat; }

.full-bk {
  width: 100%;
  height: 100%;
  background: #000 center top no-repeat;
  background-size: cover;
  z-index: 8;
  position: fixed; }

.full-fk {
  position: relative;
  width: 25%;
  background: rgba(0, 0, 0, 0.7);
  min-height: 100%;
  padding: 30% 0;
  z-index: 9; }
  .full-fk .para {
    width: 100%;
    padding: 40px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.8em;
    font-size: 1.2em; }
    .full-fk .para .hr-bk {
      margin: 30px 0;
      width: 100%; }
  .full-fk ul {
    padding-left: 10px;
    margin: 30px 0; }

.full-fk-left {
  margin-left: 5%; }

.full-fk-right {
  margin-left: 70%; }

@media (max-width: 1024px) {
  .full-fk {
    width: 35%; }
    .full-fk .para {
      padding: 40px 15px; }

  .full-fk-right {
    margin-left: 60%; } }
.imgfrm {
  display: inline-block;
  width: 100%; }
  .imgfrm > img, .imgfrm > .ib > img {
    width: 100%; }

.img-redframe, .img-redframe-r {
  border-top: 10px solid #F14d49;
  border-left: 1px solid #F14d49;
  padding: 10px 0 0 10px; }
  .img-redframe .comment-right, .img-redframe-r .comment-right {
    position: absolute;
    left: 100%;
    bottom: 0; }

.img-redframe-r {
  border-right: 1px solid #F14d49;
  border-left: none;
  padding: 10px 10px 0 0;
  text-align: right; }

.img-blackframe {
  border: 5px solid #000000;
  padding: 7px; }
  .img-blackframe .ib {
    border: 1px solid #808285;
    padding: 7px;
    width: 100%; }
  .img-blackframe .comment-right {
    position: absolute;
    left: 100%;
    bottom: 0; }

.comment .hr-bk {
  width: 100%;
  margin: 10px 0; }

#candle {
  height: 100%;
  width: 100%;
  position: absolute; }
  #candle img {
    position: absolute;
    width: 100px;
    left: 50%;
    margin-left: -50px; }

#author {
  width: 100%;
  margin: 50px auto;
  color: #808285;
  font-size: 1.2em;
  text-align: center; }

@media (max-width: 1024px) {
  .full .para {
    font-size: 1em; }

  .full .desc {
    font-size: 1em; } }
#life-f1 {
  z-index: 13; }
  #life-f1 .desc {
    font-size: 0.8em;
    line-height: 1.6em; }
  #life-f1 ul {
    padding-left: 0; }

#life-f1 h2, #life-f4 h2 {
  margin-top: 70%; }

.full-container {
  position: absoute; }

#life-f2 h2, #life-f3 h2 {
  margin-top: 10%; }

@media (max-width: 1200px) {
  #life-f1 h2 {
    margin-top: 10%; }

  #life-f4 .para {
    padding-top: 15px; }
  #life-f4 h2 {
    display: none; } }
@media (max-width: 1024px) {
  #life-f1 .para {
    font-size: 0.5em; }

  #life-f1 .desc {
    font-size: 0.4em; } }
#life-main .hr, #life-main .shr, #life-f1 .hr, #life-f1 .shr {
  margin: 40px 0;
  width: 100%;
  border-bottom: 1px solid #808285; }
#life-main .shr, #life-f1 .shr {
  margin: 10px 0; }

#life-timeline {
  position: absolute;
  z-index: 12;
  width: 40%;
  height: 100%;
  opacity: 0; }

#life-redline {
  position: fixed;
  top: 0;
  height: 100%;
  left: 140px;
  border-left: 1px solid #F14d49; }

#life-ptr {
  position: fixed;
  top: 50%;
  left: 10px;
  margin-top: -10px;
  width: 100px;
  z-index: 11; }

.ym {
  position: fixed;
  left: 120px;
  z-index: 11; }
  .ym img {
    width: 40px;
    margin-top: 10px;
    position: absolute; }
  .ym .year, .ym .desc {
    margin-left: 60px; }
  .ym .year {
    color: #F14d49;
    font-size: 3em;
    height: 60px;
    line-height: 60px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); }
  .ym .desc {
    color: #000;
    max-width: 225px;
    font-size: 1.4em;
    text-shadow: 0 0 3px white; }
  .ym .desc.inverse {
    color: #fff;
    text-shadow: 0 0 3px black; }

@media (max-width: 800px) {
  #life-timeline {
    font-size: 0.6em; }

  #life-ptr {
    width: 60px; }

  #life-redline {
    left: 90px; }

  .ym {
    left: 70px; }
    .ym .desc {
      margin-top: -20px;
      max-width: 180px; } }
.norm-container .desc {
  color: #808285;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 20px; }
.norm-container .ib {
  margin: 0 20% 0 40%;
  padding: 20px 0 30px 30px; }
.norm-container .img.f {
  width: 100%;
  margin: 20px 0;
  background-size: cover; }
  .norm-container .img.f img {
    width: 100%; }
.norm-container .para {
  letter-spacing: 2px;
  line-height: 1.7em;
  font-size: 1.5em;
  margin-bottom: 24px; }

@media (max-width: 1024px) {
  .norm-container .desc {
    font-size: 0.7em; }
  .norm-container .para {
    font-size: 1em; } }
#life-summary h1 {
  text-align: center;
  background: url(../../img/life/hl-stripe.png) center center repeat-x;
  margin-bottom: 10%; }
  #life-summary h1 div {
    display: inline-block;
    background: #fff;
    padding: 0 20px; }
#life-summary .norm-container {
  width: 80%;
  margin: 0 auto 50px; }
#life-summary .desc, #life-summary .para {
  width: 80%;
  margin: 0 auto 40px; }
#life-summary .icon-ribbon {
  display: block;
  width: 10%;
  margin: 20px auto 50px; }
#life-summary .img.f.b {
  border: 20px solid #F14d49; }

@media (max-width: 900px) {
  #life-main .hr, #life-f1 .hr {
    margin: 15px 0; }
  #life-main .shr, #life-f1 .shr {
    margin: 7px; } }
uiload {
  display: inline-block;
  position: relative; }
  uiload > div {
    position: relative; }

#cmp {
  margin-bottom: 100px; }

#clock {
  position: relative; }
  #clock img {
    position: absolute; }

#clock-base {
  width: 140px;
  height: 140px;
  left: 50%;
  margin: 30px 0 0 -70px; }

#clock-center {
  width: 70px;
  height: 70px;
  left: 50%;
  top: 100px;
  margin: -35px 0 0 -35px; }

#clock-minute {
  width: 70px;
  height: 70px;
  left: 50%;
  top: 100px;
  margin: -35px 0 0 -35px; }

#clock-second {
  width: 70px;
  height: 70px;
  left: 50%;
  top: 100px;
  margin: -35px 0 0 -35px;
  -ms-transform: rotate(45deg) translate(15px, 0);
  -moz-transform: rotate(45deg) translate(15px, 0);
  -webkit-transform: rotate(45deg) translate(15px, 0);
  -o-transform: rotate(45deg) translate(15px, 0);
  transform: rotate(45deg) translate(15px, 0); }

#timebar-anchor {
  height: 180px; }

#timebar {
  position: fixed;
  background: #fff;
  width: 100%;
  left: 0%;
  height: 100px;
  z-index: 10;
  margin-top: 52px; }
  #timebar > .ib {
    position: relative;
    width: 80%;
    margin: 0 auto; }
  #timebar #mark-left, #timebar #mark-right {
    position: absolute;
    width: 80px; }
  #timebar #mark-left {
    left: -80px; }
  #timebar #mark-right {
    right: -80px; }
  #timebar #mark-mix {
    position: absolute;
    width: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    top: 40px; }
  #timebar #bar-left, #timebar #bar-right {
    position: absolute;
    top: 40px;
    width: 45%;
    height: 10px;
    margin-top: -5px;
    border: 1px solid #F14d49; }
    #timebar #bar-left .ib, #timebar #bar-right .ib {
      width: 50%;
      height: 100%; }
  #timebar #bar-left {
    right: 50%;
    margin-right: 30px; }
    #timebar #bar-left .ib {
      position: absolute;
      left: 0;
      background: #F14d49; }
  #timebar #bar-right {
    margin-left: 30px;
    left: 50%;
    border: 1px solid #000; }
    #timebar #bar-right .ib {
      position: absolute;
      right: 0;
      background: #000000; }

.ihl {
  text-align: center; }
  .ihl img {
    height: 120px;
    margin: 20px auto 80px; }

.cmp-section {
  width: 80%;
  margin: 0 auto;
  font-size: 1.5em;
  letter-spacing: 2px;
  line-height: 2em; }
  .cmp-section .hr {
    margin: 40px auto;
    width: 95%; }
  .cmp-section .cmp-ds {
    color: #808285;
    font-size: 0.5em;
    line-height: 1.2em; }
  .cmp-section img.f {
    width: 95%;
    margin: 10px auto;
    display: block; }
  .cmp-section .img-desc {
    font-size: 0.8em; }

.cmp-s-left {
  color: #F14d49; }
  .cmp-s-left .hr {
    border-bottom: 1px solid #F14d49; }
  .cmp-s-left img.b {
    border: 15px solid #F14d49;
    min-height: 332px; }

.row .rel {
  position: relative; }

.cmp-s-right {
  color: #000; }
  .cmp-s-right .hr {
    border-bottom: 1px solid #000; }
  .cmp-s-right img.b {
    border: 15px solid #000; }

#icon-fund {
  position: absolute;
  bottom: 0;
  width: 160px;
  left: -230px; }

#icon-pen {
  position: absolute;
  bottom: 0;
  width: 114px;
  right: -124px; }

#icon-taiwan, #icon-taiwan-bar {
  display: block;
  position: absolute;
  left: 100%;
  width: 100px;
  margin-top: -230px; }

#icon-taiwan-bar {
  border-bottom: 1px solid #F14d49;
  margin-top: -10px;
  width: 50%; }

#icon-clock {
  position: absolute;
  display: block;
  width: 100px;
  right: -100%;
  margin-top: -100px; }

.cmp-ints-hr {
  width: 60%;
  margin: 50px auto;
  border-bottom: 1px solid #000; }

#chapter-white {
  width: 100%;
  height: 100%; }

.ff, .photo .ib {
  position: relative;
  background: center center no-repeat;
  background-size: cover;
  z-index: 10; }

.ff {
  width: 100%;
  height: 100%; }

.photo .ib {
  width: 100%;
  height: 400px; }

.photo {
  padding: 10px 0 0 10px;
  border-top: 6px solid #F14d49;
  border-left: 1px solid #F14d49;
  width: 70%;
  margin-left: 15%; }
  .photo .desc {
    margin-top: 20px;
    color: #808285; }

.ff.fixed {
  background-attachment: fixed;
  box-shadow: inset 0 0 13px 3px rgba(0, 0, 0, 0.5); }

#fear {
  width: 100%;
  height: 1000px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-size: 1.3em; }

#white-timeline {
  position: fixed;
  top: 100px;
  right: 5%;
  width: 240px;
  font-size: 0.9em;
  line-height: 3.7em;
  background: white;
  padding: 7px;
  z-index: 1;
  opacity: 0; }
  #white-timeline .li .c {
    display: inline-block; }
  #white-timeline .li .c:nth-of-type(2) {
    display: inline-block;
    margin: 0 10px;
    height: 100%;
    width: 10px; }

@media (max-width: 1200px) {
  #white-timeline {
    right: 1%; } }
#luku {
  height: 200%; }

#iskao {
  height: 4100px; }

#iskao-portrait {
  position: absolute;
  right: 0;
  margin-right: 15%;
  top: 100px;
  width: 400px;
  z-index: 15; }

#taiyuan {
  height: 2000px; }

#beauty {
  height: 2000px; }
  #beauty .overlay {
    padding: 1000px 0 0;
    height: 2000px;
    position: absolute;
    z-index: 20;
    color: #000; }
  #beauty .mask {
    position: absolute;
    z-index: 10;
    width: 55%;
    margin-left: 15%;
    height: 2000px;
    background: rgba(255, 255, 255, 0); }

img.ico-key {
  display: block;
  margin: 80px auto; }

.section-headline {
  position: relative; }
  .section-headline .l4w {
    margin-top: 270px; }
  .section-headline .fractal {
    position: fixed;
    width: 32px;
    top: 50%;
    left: 50%;
    z-index: 20;
    opacity: 0; }
  .section-headline .main {
    width: 100%;
    margin-top: 100px; }
  .section-headline .ib {
    text-align: center;
    background: #000D29;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative; }
  .section-headline .lock, .section-headline .key, .section-headline .speaker, .section-headline .microphone {
    display: block;
    position: absolute;
    top: 0;
    left: 50%; }
  .section-headline .lock {
    width: 125px;
    height: 88px;
    margin-left: -30px;
    z-index: 10; }
  .section-headline .key {
    z-index: 11;
    width: 75px;
    height: 60px;
    margin-left: -65px;
    margin-top: 48px; }
  .section-headline .microphone {
    width: 80px;
    margin-left: -40px; }
  .section-headline .speaker {
    width: 80px; }
  .section-headline .linex4 {
    width: 125px;
    margin-top: 270px; }
  .section-headline .title {
    font-size: 2.5em;
    letter-spacing: 5px;
    color: #fff;
    margin: 10px 0 5px; }
  .section-headline .part {
    letter-spacing: 1px;
    color: #F14d49;
    font-size: 1.1em; }
  .section-headline .main .redline {
    display: block;
    width: 60%;
    height: 2px;
    background: #F14d49;
    margin: 9px 20%;
    overflow: hidden;
    content: " "; }

.white-shl .ib {
  width: 75%;
  margin: 20px 10% 20px 15%;
  position: relative; }
  .white-shl .ib:before {
    display: block;
    position: absolute;
    left: -130px;
    content: " ";
    width: 120px;
    height: 80px;
    background: url(../../img/white/lock-white.png) center center no-repeat;
    background-size: cover; }
.white-shl .title {
  font-size: 2.5em; }
.white-shl .year {
  color: #F14d49;
  font-size: 1.5em; }
.white-shl .author {
  float: right;
  margin-right: 30px;
  color: #808285; }
  .white-shl .author .c {
    display: inline-block; }
  .white-shl .author .c:first-of-type {
    padding-right: 10px;
    border-right: 1px solid #808285; }
  .white-shl .author .c:nth-of-type(2) {
    text-align: center;
    width: 80px; }
  .white-shl .author .c:nth-of-type(3) {
    text-align: right;
    width: 120px; }

.section, .section-wide, .section-narrow {
  width: 60%;
  margin: 20px 25% 20px 15%;
  font-size: 1.3em;
  letter-spacing: 2px;
  line-height: 2em; }
  .section:before, .section-wide:before, .section-narrow:before {
    content: "　　"; }
  .section .hr-bk, .section-wide .hr-bk, .section-narrow .hr-bk {
    margin: 20px auto;
    width: 90%; }

.section-wide {
  width: 72%;
  margin: 20px 25% 20px 3%; }

.section-narrow {
  width: 46%;
  margin: 20px 32% 20px 22%; }

@media (max-width: 1000px) {
  .section {
    margin-left: 10%; }

  .section-wide {
    width: 69%;
    margin-left: 1%; }

  .section-narrow {
    margin-left: 17%; } }
@media (max-width: 880px) {
  .section, .section-wide, .section-narrow {
    font-size: 1.1em; }

  .section {
    margin-left: 10%; }

  .section-wide {
    width: 65%;
    margin-left: 1%; }

  .section-narrow {
    margin-left: 17%; } }
.sections.fixed {
  position: fixed;
  height: 100%;
  width: 100%; }
  .sections.fixed .section {
    z-index: 20;
    position: absolute;
    top: 0;
    padding: 100px 30px;
    height: 100%;
    width: 500px;
    margin-left: 15%;
    color: #fff;
    background: rgba(0, 0, 0, 0.8); }

.redheadline {
  background: url(../../img/white/hl-red.html) center center repeat-x;
  width: 40%;
  margin: auto;
  text-align: center; }
  .redheadline .ib {
    display: inline-block;
    padding: 20px;
    font-size: 2em;
    background: #fff;
    color: #F14d49; }

#melist {
  position: relative;
  z-index: 20;
  width: 100%;
  background: #fff; }
  #melist .key.ib {
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 3px solid #000000;
    border-radius: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    z-index: 30;
    background: #fff; }
    #melist .key.ib > .ib2 {
      border: 1px solid #808285;
      padding: 5px;
      border-radius: 50%;
      width: 100%;
      height: 100%; }
      #melist .key.ib > .ib2 img {
        width: 60px;
        height: 44px;
        margin: 18px 10px; }
  #melist > .ib {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    padding: 5px 0; }
    #melist > .ib > .ib2 {
      border-top: 1px solid #808285;
      border-bottom: 1px solid #808285;
      padding: 10px 0; }
      #melist > .ib > .ib2 > img {
        width: 100%;
        opacity: 0.3;
        -ms-transition: all 0.5s linear 0.5s;
        -moz-transition: all 0.5s linear 0.5s;
        -webkit-transition: all 0.5s linear 0.5s;
        -o-transition: all 0.5s linear 0.5s;
        transition: all 0.5s linear 0.5s; }
      #melist > .ib > .ib2 > img.active {
        opacity: 1; }
    #melist > .ib .portrait {
      position: absolute;
      top: 20px;
      width: 100%;
      height: 100%; }
      #melist > .ib .portrait .fig {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      #melist > .ib .portrait .desc.show {
        opacity: 1; }
      #melist > .ib .portrait img {
        width: 100%; }
      #melist > .ib .portrait .fig.show {
        opacity: 1; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: century gothic; }

#content {
  /*margin-top: 50px;*/
  height: 100%; }

.block div{
    display:none;
    position:absolute;
    top:98%;
  border-radius: 5px;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 5px;
    /*
    padding:5px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 20px black;
*/
   }
.block:hover div{
    display:block;

   }
/*# sourceMappingURL=main.css.map */

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 0.4s ease-out;
}